# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.env.prod

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

coffeelab-key.pem
temp-key.json
docker-compose.yml
docker-compose.prod.yml